@using UI.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    @Html.OpenGraph_Seo("Veja um exemplo de uso do Open Graph usando ASP.Net MVC", "http://opengraph.apphb.com/")

    @Html.OpenGraph_Twitter("TiSelvagem", "CleytonFerrari", "Open Graph em ASP .Net MVC", "Veja um exemplo de uso do Open Graph usando ASP.Net MVC", "http://opengraph.apphb.com/Content/TISelvagemPost.png", "tiselvagem.com", "http://opengraph.apphb.com/")

    @Html.OpenGraph_Facebook("cleytonferrari", "http://opengraph.apphb.com/", "article", "Open Graph em ASP .Net MVC", "http://opengraph.apphb.com/Content/TISelvagemPost.png", "Veja um exemplo de uso do Open Graph usando ASP.Net MVC", "TI Selvagem", "pt_BR", "https://www.facebook.com/cleytonferrari", "https://www.facebook.com/tiselvagem", "Technology", "asp.net,mvc,c#")

    @Html.OpenGraph_GooglePlus("https://plus.google.com/+cleytonferrari", "Open Graph em ASP .Net MVC", "Veja um exemplo de uso do Open Graph usando ASP.Net MVC", "http://opengraph.apphb.com/Content/TISelvagemPost.png")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Open Graph", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cleyton Ferrari - <a href="http://www.tiselvagem.com.br">TI Selvagem</a> - <a href="https://plus.google.com/+cleytonferrari?rel=author">Google Plus</a></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>