<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
    <!-- SEO -->
    <meta name="author" content="Cleyton Ferrari">
    <meta name="description" content="Veja um exemplo de uso do Open Graph usando ASP.Net MVC">
    <link rel="canonical" href="http://opengraph.apphb.com/">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@("@")TISelvagem">
    <meta name="twitter:creator" content="@("@")CleytonFerrari">
    <meta name="twitter:title" content="Open Graph em ASP .Net MVC">
    <meta name="twitter:description" content="Veja um exemplo de uso do Open Graph usando ASP.Net MVC">
    <meta name="twitter:image:src" content="http://opengraph.apphb.com/Content/TISelvagemPost.png">
    <meta name="twitter:domain" content="TI Selvagem" />
    <meta name="twitter:url" content="http://opengraph.apphb.com/" />
    
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="580133942085536">
    <meta property="og:url" content="http://opengraph.apphb.com/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Open Graph em ASP .Net MVC">
    <meta property="og:image" content="http://opengraph.apphb.com/Content/TISelvagemPost.png" />
    <meta property="og:description" content="Veja um exemplo de uso do Open Graph usando ASP.Net MVC">
    <meta property="og:site_name" content="TI Selvagem">
    <meta property="article:author" content="https://www.facebook.com/cleytonferrari">
    <meta property="article:publisher" content="https://www.facebook.com/tiselvagem">
    <meta property="og:locale" content="pt_BR" />
    <meta property="article:section" content="Technology" />
    <meta property="article:tag" content="asp.net" />
    <meta property="article:tag" content="mvc" />
    
    
    
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Open Graph", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cleyton Ferrari - <a href="http://www.tiselvagem.com.br">TI Selvagem</a></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>